<config>
  <!-- Folding Slot Configuration -->
  <gpu v='false'/>

  <!-- User Information  -->
  <team v='241436'/>

  <!-- Folding Slots -->
  <slot id='0' type='CPU'/>

  <!-- taken from here -->
  <!-- https://foldingforum.org/viewtopic.php?f=61&t=26594 -->
  <allow v='0.0.0.0/0'/>

  <!-- A password is REQUIRED -->
  <password v='123456'/>
</config>